/* app global css */

.app-background{
  background: #2d3034;
}
.sized-btn{
  min-width: 120px;
}
.text-lg{
  font-size: 28px;
}
.text-md{
  font-size: 18px;
}

.text-sm{
  font-size: 12px;
}

@media (max-width: 599px) {
  .container{
    padding: 8px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-width:1439px) {
  .container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 3919px) {
  .container {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
  }
}
